@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-Bold.woff2') format('woff2'),
        url('../font/Estedad-FD-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-Black.woff2') format('woff2'),
        url('../font/Estedad-FD-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-ExtraBold.woff2') format('woff2'),
        url('../font/Estedad-FD-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-Thin.woff2') format('woff2'),
        url('../font/Estedad-FD-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-SemiBold.woff2') format('woff2'),
        url('../font/Estedad-FD-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-Medium.woff2') format('woff2'),
        url('../font/Estedad-FD-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-ExtraLight.woff2') format('woff2'),
        url('../font/Estedad-FD-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-Light.woff2') format('woff2'),
        url('../font/Estedad-FD-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estedad-FD';
    src: url('../font/Estedad-FD-Regular.woff2') format('woff2'),
        url('../font/Estedad-FD-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-Italic.woff2') format('woff2'),
        url('../font/EuclidCircularB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-BoldItalic.woff2') format('woff2'),
        url('../font/EuclidCircularB-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-Bold.woff2') format('woff2'),
        url('../font/EuclidCircularB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-LightItalic.woff2') format('woff2'),
        url('../font/EuclidCircularB-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-MediumItalic.woff2') format('woff2'),
        url('../font/EuclidCircularB-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-Light.woff2') format('woff2'),
        url('../font/EuclidCircularB-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-SemiBold.woff2') format('woff2'),
        url('../font/EuclidCircularB-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-SemiBoldItalic.woff2') format('woff2'),
        url('../font/EuclidCircularB-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-Regular.woff2') format('woff2'),
        url('../font/EuclidCircularB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../font/EuclidCircularB-Medium.woff2') format('woff2'),
        url('../font/EuclidCircularB-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Black.woff2') format('woff2'),
        url('../font/Jost-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Bold.woff2') format('woff2'),
        url('../font/Jost-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ExtraBold.woff2') format('woff2'),
        url('../font/Jost-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-BoldItalic.woff2') format('woff2'),
        url('../font/Jost-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-BlackItalic.woff2') format('woff2'),
        url('../font/Jost-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ExtraLight.woff2') format('woff2'),
        url('../font/Jost-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ExtraLightItalic.woff2') format('woff2'),
        url('../font/Jost-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Jost-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Light.woff2') format('woff2'),
        url('../font/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Italic.woff2') format('woff2'),
        url('../font/Jost-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-LightItalic.woff2') format('woff2'),
        url('../font/Jost-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Regular.woff2') format('woff2'),
        url('../font/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Medium.woff2') format('woff2'),
        url('../font/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-SemiBold.woff2') format('woff2'),
        url('../font/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-MediumItalic.woff2') format('woff2'),
        url('../font/Jost-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Thin.woff2') format('woff2'),
        url('../font/Jost-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Jost-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-ThinItalic.woff2') format('woff2'),
        url('../font/Jost-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}